
.vs/dxd9 internal/v16/ipch/AutoPCH/a28f62d5a0ac2f48/DRAWING.ipch
.vs/dxd9 internal/v16/Browse.VC.opendb
.vs/dxd9 internal/v16/Browse.VC.db-wal
.vs/dxd9 internal/v16/Browse.VC.db-shm
.vs/dxd9 internal/v16/Browse.VC.db
.vs/dxd9 internal/v16/.suo
.vs/dxd9 internal/v16/ipch/AutoPCH/56819d90ffd0cbff/OFFSETS.ipch
.vs/dxd9 internal/v16/ipch/AutoPCH/4582cabc1e6247f0/DX.ipch
.vs/dxd9 internal/v16/ipch/AutoPCH/43daa49e56ada69f/HOOK.ipch
.vs/dxd9 internal/v16/ipch/AutoPCH/375478986b54f5c/DLLMAIN.ipch
.vs/dxd9 internal/v16/ipch/AutoPCH/1cf4d36936d9b571/HACK.ipch
.vs/dxd9 internal/v16/ipch/AutoPCH/1a81ac7d3b35b1a3/DLLMAIN.ipch
