
.vs/dxd9 internal/v16/ipch/AutoPCH/a28f62d5a0ac2f48/DRAWING.ipch
.vs/dxd9 internal/v16/Browse.VC.opendb
.vs/dxd9 internal/v16/Browse.VC.db-wal
.vs/dxd9 internal/v16/Browse.VC.db-shm
.vs/dxd9 internal/v16/Browse.VC.db
